fastapi==0.136.1
uvicorn[standard]
sqlalchemy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
sqlmodel
aiomysql
cryptography
loguru
pyotp==2.9.0
qrcode==8.2
sqladmin
